<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD:LociaGroup.Web/_SiteLayout.cshtml
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Locia Group LLC</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <meta name="viewport" content="width=device-width" />


    <script>
        $(document).ready(function () {
            $("#Home").hover(function () {
                $.get("Default", function (data) {
                    Update(data);
                });
            });
            $("#About").hover(function () {
                $.get("About", function (data) {
                    Update(data);
                });
            });
            $("#Contact").hover(function () {
                $.get("Contact", function (data) {
                    Update(data);
                });
            });

            function Update(data) {
                $("#bodysection").html("");
                $("#bodysection").html(data);
            }
        });
    </script>


</head>
<body id="bodysection">

    <header>

    </header>


        <table border="1" align="center" style="margin-left:10px;" width="100%">
            <tr>
                <th width="10%">
                     <img src="~/Images/Logos/LCG_logo_bluev2.png" width="100px" height="100px" />
               </th>
                <th width="90%">
                    <span class="site-title">
                        Locia Group
                    </span>
                </th>
            </tr>
            <tr width="100%">
                <td colspan="2">
                    <nav style="text-align: left; display: inline;">
=======
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title - My ASP.NET Web Page</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/"><img src="~/Images/Logos/LCG_logo_bluev2.png" alt="logo" height="100" width="100">
                    </a></p>
                </div>
                <div class="float-left" >
                    <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </form>
                            </text>
                        } else {
                            <ul>
                                <li><a href="~/Account/Register">Register</a></li>
                                <li><a href="~/Account/Login">Log in</a></li>
                            </ul>
                        }
                    </section>
                    <nav >
>>>>>>> origin/master:Website.bak/LociaGroup.Web/_SiteLayout.cshtml
                        <ul id="menu">
                            <div id="Home">
                                <li><a href="~/">Home</a></li>
                            </div>
                            <div id="About">
                                <li><a href="~/About">About</a></li>
                            </div>
                            <div id="Contact">
                                <li><a href="~/Contact">Contact</a></li>
                            </div>
                        </ul>
                    </nav>
                </td>
            </tr>
        
            <tr>
<td colspan="2">
    <div id="content">

        <div id="ajaxbody">
            @RenderBody()
        </div>
    </div>

</td>
            </tr>

        </table>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Locia Group LLC. 2013</p>
            </div>
<<<<<<< HEAD:LociaGroup.Web/_SiteLayout.cshtml
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
=======
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
>>>>>>> origin/master:Website.bak/LociaGroup.Web/_SiteLayout.cshtml
</html>
